
<%= bootstrap_form_for @event, method: :post do |f| %>
<form>
  <fieldset>
    <legend>"Création d'un nouvel évènement" </legend>
    <div class="form-group">
    <%= f.text_field :title, label: "Titre"%>
  </div>
      </div>
    </div>
    <div class="form-group">
    <%= f.date_field :start_date, label: "Date" %>
  </div>
    <div class="form-group">
    <%= f.text_field :location, label: "Lieu"%>
    </div>
    <div class="form-group">
    <%= f.number_field :duration, label: "Durée" %>

    </div>
   
    <div class="form-group">

    <%= f.text_area :description, label: "Description"%>
    </div>
    
    <div class="form-group">
    <%= f.number_field :price, prepend: "€", label: "prix" %>
  </div>
   
    <%= f.submit %>
 
</form>

<% end %>

